<!DOCTYPE html>
<html lang="en" xmlns:th="htttp://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Document</title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <!-- ul>li[th:text="{$title}"]*2 -->
    <ul>
        <li th:text="${user.name}"></li>
        <li th:text="${user.lastName}"></li>
        <li th:if="${user.email}" th:text="${user.email}"></li>
        <li th:if="${user.email == null}" th:text="${'No tiene email'}"></li>
    </ul>
     <!-- estas URLs están siendo construidas de forma dinámica utilizando la expresión 'th:href' -->
    <a th:href="@{/list}">Ver Listado</a><br>
    <a th:href="@{/api/params/foo?message=Hola qué tal festival}">Ver Mensaje</a><br>
    <a th:href="@{/api/params/foo(message='Hola qué tal festival')}">Ver Mensaje 2</a><br>
    <a th:href="@{/api/params/bar(text='Hola qué tal festival', code=32323)}">Ver Bar Mix 2 Param</a><br>
    <!-- En este caso, se está concatenando una cadena fija con el valor de una variable del modelo llamado 'title' -->
    <a th:href="@{'/api/var/baz/' + ${title}}">Ver Path Variable</a><br>
    <a th:href="@{'/api/var/baz/' + 'Hola qué tal festival'}">Ver Path Variable 2</a><br>
</body>
</html>